.contact-container{
    display: flex;
    flex-direction: column;
    color:black;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;

}
.contact-top{
    width: 100%;
    margin-top: 2rem;
}
.form-art-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.form-side-image{
    width: 50%;
    object-fit: contain;
}

.form-side-image>img{
    height: 100%;
    width: 100%;

}
.main-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    width: 480px;
    height: 480px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

.main-form > h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.box-item{
    width: 80%;
    display: flex;
    justify-items: center;
    align-items: center;

}

.box-item>input{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    padding: 0.2rem 0.1rem;
    border-bottom: 2px solid #f3ba00;
    background-color: transparent;
    color: #e1e8ec;
}

.box-item>input:focus-visible {
    border: none;
    outline: #e1e8ec;
    border-bottom: 2px solid #e1e8ec;
}

.box-item>textarea{
    width: 100%;
    border: none;
    border-bottom: 2px solid #f3ba00;
    background-color: transparent;
    padding: 1rem 0.1rem;
    height: auto;
}

.box-item>textarea:focus-visible {
    border: none;
    outline: #e1e8ec;
    border-bottom: 2px solid #e1e8ec;
}

.button-submit{
    background-color: transparent;
    color: white;
    padding: 8px 20px;
    border: 1px solid #f3ba00;
    transition: all 0.3s ease-out;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.button-submit:hover{
    transition: all 0.3s ease-out;
    background: #ffcf4d;
    color: #242424;
  }

.button-submit:active {
    background-color: #f3ba00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.contact-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.contact-info-bottom{
    display: flex;
    padding: 3rem 1rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.contact-info-box{
    display: flex;
    flex-direction: column;
    text-align: justify;
    line-height: 1.6rem;
    color: #e1e8ec;
}

@media only screen and (max-width: 800px) {

    .form-art-container{
        flex-direction: column;
    }

    .main-form{
        width: 90%;
    }

    .contact-info-bottom{

        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .contact-info-box{
        margin-top: 2rem;
    }

}