.services-top{
    width:100%;
    align-content: center;
    margin-top: 1rem;

}
.services-top > h3 {
    text-align: center;
    font-size: 1.9rem;
}

.services-head{
    text-align: center;
    font-size: 1.9rem;
    width: 100%;
    margin-top:2rem;
    margin-bottom: 2rem;

}

.services-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0px 20px 0px;
    width: 100%;
    height: auto;
    justify-content:center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.services-wrap{
    display: flex;
    width: 33%;
    height: 100%;
    justify-content: center;
    margin: auto;
    align-items: center;
}


.service-font {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align:center;
    align-content: center;
    font-size: 1.4rem;
    color: #E1E8EC;
    margin-top: 1rem;
}


.fa-laptop-code{
    width: 100%;
    color: #E1E8EC;
    font-size: 6rem;
    justify-content: center;
    text-align:center;
}

.fa-laptop-code:hover {
    transform: scale(1.1);
        color:#F3BA00;
}


.fa-apple{
    width: 100%;
    color: #E1E8EC;
    font-size: 6.5rem;
    justify-content: center;
    text-align:center;
}

.fa-apple:hover {
    transform: scale(1.1);
        color:#F3BA00;
}

.fa-palette{
    width: 100%;
    color: #E1E8EC;
    font-size: 5rem;
    justify-content: center;
    text-align:center;
}

.fa-palette:hover {
    transform: scale(1.1);
        color:#F3BA00;
}

.service-font:hover {
    transform: scale(1.1);
        color:#f3ba00;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .services-wrap{
        height: auto;
    }
    .fa-android {
        font-size: 5rem;
    }
    .fa-apple{
        font-size: 5rem;
    }
    .fa-laptop-code{
        font-size: 5rem;
    }
    .service-font {
        font-size: 1.2rem;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .services-item {
      flex: 100%;
      max-width: 100%;
      font-size: 1.4rem;
  }
    .services-wrap{
        height: auto;
    }
    .fa-palette  {
        font-size: 3rem;
    }
    .fa-apple{
        font-size: 3rem;
    }
    .fa-laptop-code{
        font-size: 3rem;
    }
    .service-font {
        font-size: 1rem;
    }
}