.head-services-container{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 2rem;

}
.head-services{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.5rem;

}

.head-services-item{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.head-services-wrap :active{
    background-color: #5cb3c1;

}

.selected-services{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.service-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e1e8ec;
    padding: 6rem 8rem;
    font-size: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 7rem;
    width: 100%;
}