.top-section-container{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    margin-top: -4.5rem;
}

.top-section-container > h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #e1e8ec;
}

.top-section-container > img {
    width: 100%;
    height: 100%;
}