.top-section-container{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    margin-top: -4.5rem;
}

.top-section-container > h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #f3ba00;
    font-weight: bold;
    font-size: xxx-large;
}

.top-section-container > img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    justify-items: center;
}

.top-section-overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}