* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    z-index:2;
  }
  .head-section{
    height: auto;
    width: auto;
  }
  .body-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;

    height: auto;
    width: auto;
    background-image: linear-gradient(#99d8dd, #5cb3c1, #01587a);
    z-index: -1;
  }

  .home,
  .services,
  .products,
  .contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
  
  .services {
    color: #0e0e0e;
    font-size: 3rem;
    width: 100%;
    height: auto;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }
  
  .products {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .contact-us {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .side-icons{
    position: fixed;
    bottom: 50px;
    right: 35px;
    z-index: 999;
    font-size: 2.5rem;
  }

  .fa-envelope{
    color:#E1E8EC;
  }

  .fa-facebook{
    color:#E1E8EC;
  }


  .heading-separator{
    display: block;
    margin: 0.5em auto;
    border-style: solid;
    border-width: 0.5rem 0 0 0;
    border-color: #f3ba00;
    font-size: 1em;
    width:10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }

  .box .square {
    position: absolute;
    display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(1s * var(--i));

}

@keyframes animate {
    0%,100%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }

}

.box .square:nth-child(1){
    top:50px;
    right: 60px;
    width: 100px;
    height: 100px;
    z-index:0;
    --i: 0;
}

.box .square:nth-child(2){
    top:150px;
    left: 100px;
    width: 100px;
    height: 100px;
    z-index:0;
    --i:1;
}

.box .square:nth-child(3){
    top:250px;
    left: 300px;
    width: 80px;
    height: 80px;
    z-index:0;
    --i:2;
}

.box .square:nth-child(4){
    top:350px;
    right: 200px;
    width: 120px;
    height: 120px;
    z-index:0;
    --i:3;
}

.box .square:nth-child(5){
    bottom:150px;
    left: 300px;
    width: 90px;
    height: 90px;
    z-index:0;
    --i:4;
}